<!DOCTYPE html>
<html>
<head>
    <title>Ansible Automation</title>
</head>
<body>
    <h1>Welcome to My DevOps Portfolio</h1>
    <h2>Provisioned with Ansible</h2>

    <p>Hostname: {{ inventory_hostname }}</p>

    <p>Deployment Date: {{ ansible_date_time.date }}</p>

    <p>Automated by GitHub Actions + Ansible</p>
</body>
</html>
